.explorer{
    background: $bg_explorer;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 10;

    // VISUALIZAÇÃO PELO CELULAR
    @media (max-width: $breakpoint-mobile) {
        width: 90%;
        top: 40px;
        left: 5%;
    }

    &__header{
        background-color: $theme_explorer;
        width: 100%;
        height: 35px;
        position: relative;
        @include d-flex(space-between, center);

        &__titulo{
            display: inline;
            font-size: 12px;
            box-sizing: border-box;
            padding: 6px 15px;
            width: 85%;

            // VISUALIZAÇÃO PELO CELULAR
            @media (max-width: $breakpoint-mobile) {
                width: 60%;
            }
        }

        &__botoes{
            @include d-flex(center, center);
            width: 15%;
            height: 100%;

            // VISUALIZAÇÃO PELO CELULAR
            @media (max-width: $breakpoint-mobile) {
                width: 40%;
            }

            div{
                @include d-flex(center, center);
                width: 33.33%;
                height: 100%;
                text-align: center;

                .min{
                    width: 8px;
                    height: 8px;
                    border-bottom: 1px solid $border;
                }

                .max{
                    width: 8px;
                    height: 8px;
                    border: 1px solid $border;
                }

                .fechar{
                    @include d-flex(center, center);
                }

                .fechar::after{
                    content: "\00d7"; /* Renderiza o 'X' */
                    font-weight: 100;
                    transform: scale(1.4);
                }

                &:hover{
                    background-color: $active;
                }

                &:last-child{
                    &:hover{
                        background-color: $danger;
                    }
                }
            }
        }
    }
}