.menu_personalizado{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    background-color: #2b2b2b;
    border: 1px solid $active;
    @include d-flex(center, center, wrap);
    z-index: 999999999;

    .disabled{
        color: rgb(95 95 95);
    }

    span{
        width: 100%;
        padding: 8px 10px;
        border: 1px solid $active;
        font-size: 12px;
        cursor: default;
        @include noselect();

        &:hover{
            background-color: $active;
        }
    }
}