body{
    background-color: #eaeaea;
}

.wallpaper{
    background-image: url('../images/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}